{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau joueur (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.civilite_wtf.label }}<br>
						{{ form.civilite_wtf(size=32) }}<br>
						{% for error in form.civilite_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.nom_wtf.label }}<br>
						{{ form.nom_wtf(size=32) }}<br>
						{% for error in form.nom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.prenom_wtf.label }}<br>
						{{ form.prenom_wtf(size=32) }}<br>
						{% for error in form.prenom_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.nationnalite_wtf.label }}<br>
						{{ form.nationnalite_wtf(size=32) }}<br>
						{% for error in form.nationnalite_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.date_naissance_wtf.label }}<br>
						{{ form.date_naissance_wtf(size=32) }}<br>
						{% for error in form.date_naissance_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.courriel_wtf.label }}<br>
						{{ form.courriel_wtf(size=32) }}<br>
						{% for error in form.courriel_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.telephone_wtf.label }}<br>
						{{ form.telephone_wtf(size=32) }}<br>
						{% for error in form.telephone_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.FK_equipes_wtf.label }}<br>
						{{ form.FK_equipes_wtf(size=32) }}<br>
						{% for error in form.FK_equipes_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

