{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Passeport
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            ID
                        </th>
                        <th class="align-middle">
                            Numéro passeport
                        </th>
                        <th class="align-middle">
							Date photo passeport
                        </th>
                        <th class="align-middle">
							Date qualification
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.ID_passeport }}
						</td>
						<td class="align-middle">
							{{ row.numero_passeport }}
						</td>
						<td class="align-middle">
							{{ row.date_photo_passeport }}
						</td>
						<td class="align-middle">
							{{ row.date_qualification }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('passeport_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('passeport_update_wtf', ID_passeport_btn_edit_html=row.ID_passeport) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('passeport_delete_wtf', ID_passeport_btn_delete_html=row.ID_passeport) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun adresse.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('passeport_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

